{% extends 'dashboard/dashboard.html' %}

{% block title %} Messages &middot; Highlandr {% endblock %}

{% block extra_css %}
<style>
	#message-container {
		background-color:#BAC397;
		padding: 10px 10px 30px;
		margin-bottom: 5px;
	}

	#title, #sender, #message{
		margin: 0px;
		padding: 0px;
	}

	.message-toggle {
		border: None 0px;
	}

</style>
{% endblock %}

{% block dash_head %} <i class="icon-envelope-alt"></i> Messages {% endblock %}

{% block dashboard_content %}
<div class="span12" style="margin: 0px 0px 20px;">
	<a href="/messages/compose/" class="btn btn-primary pull-right"><i class="icon-pencil icon-white"></i> Compose</a>
</div>

<div class="accordion" id="accordionInbox">
{% for message in message_list %}
	<button style="width:100%; margin-bottom:2px;" type="button" class="message-toggle" data-toggle="collapse" data-target="#message{{message.id}}"> 
		<div class="pull-left">
		<strong><a href="/{{ message.sender }}/" style="text-decoration: none;"> {{ message.sender }} </a>: {{ message.title }}</strong>
		</div>
		<div class="pull-right">
		{{ message.send_date }}
		</div>
	</button>

	<div id="message{{message.id}}" class="accordion-body collapse">
		<div class="accordion-inner">
		{{ message.message }}
		</div>
	</div>

<!--
	<div class="hero-unit span12 pull-right" id="message-container">
		<h6 align="right" id="sender"> <a href="/{{ message.sender }}/">{{ message.sender }}</a></h6>	
		<h5 id="title" style="line-height: 15px;"> 
			{{ message.title }}
			<hr style="margin: 10px 0px;">
			{{ message.message }}
		</h5>
	</div>
-->
{% endfor %}
</div>

{% endblock %}
