{% extends 'base.html' %}

{% block title %} {{ blog.title }} {% endblock %}

{% block content %}

<div class="container fill" id="mainbody">
	<div class="row-fluid" id="blogcontainer">
		<div class="container span8 offset1">
			<div></div>
			<div class="well container-fluid span" id="blogname"> 
				<h2> {{ blog.title }}</h2>
			</div>

				{% for post in posts %}
				<div class="modal hide fade" id="modal_{{post.classname}}_{{post.id}}">
					<div class="modal-body">
						{% autoescape off %}
						{% filter linebreaksbr %}{{ post.custom_html }}{% endfilter %}
						{% endautoescape %}

						<h5>
						{% for tag in post.tags.all %}
						<small style="color:#EC3B86;">#{{ tag.name }} </small>
						{% endfor %}
						</h5>

					</div>
					<div class="modal-footer">
					<form id="reblog_action_form" action="." method="POST">
						{% csrf_token %}
						{% if post.classname == 'TextPost' or post.classname == 'LinkPost' or post.classname == 'ChatPost' %}
						<input type="text" class="input-block-level" name="title" value="{{post.title}}" placeholder="Title"></input>
						{% endif %}
						{% if post.classname == 'LinkPost' %}
						<input type="url" class="input-block-level" name="link" value="{{post.link}}" placeholder="URL"></input>
						{% endif %}
						{% if post.classname != 'QuotePost' %}
						<textarea class="span" rows="8" name="description">{{post.description}}{{post.caption}}{{post.text}}</textarea>
						{% endif %}
						{% if post.classname == 'QuotePost' %}
						<textarea class="span" rows="6" name="quote" placeholder="Quote">{{post.quote}}</textarea>
						<textarea class="span" rows="6" name="source" placeholder="Source (optional)">{{post.source}}</textarea>
						{% endif %}
						<input type="text" class="input-block-level" name="tags" placeholder="Tags, separated, by, commas, (optional)"></input>
						<button href="." class="btn btn-primary pull-left" type="submit" name="reblog_action" value="reblog_{{post.classname}}_{{post.id}}">
						<i class="icon-retweet"></i> Reblog 
						</button>
					</form>
					</div>
				</div>				

				<div class="well container-fluid span" id="blogpost">
	
					<form id="post_action_form" align="right" action="/postaction/{{author.username}}/" method="POST">
						{% csrf_token %}
						<a href="/post/{{post.classname}}/{{post.id}}/" value="comment" class="post_action_button">
							<i class="icon-comment"></i> {{ post.comment_set.count }}
						</a>

						<button href="." type="submit" name="post_action" value="like_{{post.classname}}_{{post.id}}" class="post_action_button">
							<i class="icon-heart"></i> {{ post.like_set.count }}
						</button>

						<button href="#modal_{{post.classname}}_{{post.id}}" data-toggle="modal" type="submit" name="post_action" value="reblog_{{post.classname}}_{{post.id}}" class="post_action_button">
							<i class="icon-retweet"></i>
						</button>

						<button href="." type="submit" name="post_action" value="favorite_{{post.classname}}_{{post.id}}" class="post_action_button">
							{% if post in user.favelist.get_favorites %}
							<i class="icon-star" style="color:#86860C;"></i>
							{% else %}
							<i class="icon-star"></i>
							{% endif %}
						</button>
					</form>
			
					<h6> {{ post.post_date }} </h6>
					{% autoescape off %}
					{% filter linebreaksbr %}{{ post.custom_html }}{% endfilter %}
					{% endautoescape %}
					
					<h5>
					{% for tag in post.tags.all %}
					<small style="color:#EC3B86;">#{{ tag.name }} </small>
					{% endfor %}
					</h5>

				</div>
				{% endfor %}
		</div>

		<div class="container span2">
			{% if is_friend %}
			<button class="btn btn-block-level disabled span12"><i class="icon-ok"></i> Friend </button>
			{% else %}
				{% if author == user %}
				<button class="btn btn-block-level disabled span12">Send Friend Request </button>
				{% else %}			
				<a href="/friends/send/{{ author.username }}/" class="btn btn-block-level span12">Send Friend Request </a>
				{% endif %}
			{% endif %}
			<ul class="thumbnails">
				<li class="span" style="padding:20px 20px 0px;">
					<a href="/{{ author.username }}/profile/" class="thumbnail">
						{% if author.userprofile.avatar == "" %}
						<img src="../../static/img/default_avatar.png" class="img-rounded" height="200" width="200"></img>
						{% else %}
						<img src="{{ author.userprofile.avatar }}" class="img-rounded" height="200" width="200"></img>
						{% endif %}
					</a>
				</li>
				<li class="span" style="padding:0px 20px;">	
					<a href="/{{ author.username }}/profile/" class="btn btn-small btn-info"> Profile </a>
         	<a href="/follow/{{ author.username }}/" class="btn btn-small btn-info"> Follow </a>
				</li>
			</ul>
		</div>

	</div>
</div>

{% endblock %}
