{% extends 'dashboard/dashboard.html' %}

{% block title %} New Post &middot; Highlandr {% endblock %}

{% block dashboard_content %}
	<form action="/new/quote/" method="POST" class="">
		{% csrf_token %}
		<h2><i class="icon-quote-left"></i> Make a quote post </h2>
		<strong>Viewable for</strong> {{ form.privacy }}

		<h5> {{ invalid }} </h5>
		<div>
			<textarea rows="6" class="field span12" name="quote" id="id_quote" value="{{ form.quote.value }}" placeholder="Quote"></textarea>
			{% if form.source.value == None %}
			<textarea rows="6" class="field span12" name="source" id="id_source" placeholder="Source (optional)"></textarea>
			{% else %}
			<textarea rows="6" class="field span12" name="source" id="id_source" value="{{ form.source.value }}" placeholder="Source (optional)"></textarea>
			{% endif %}
       <input type="text" class="input-block-level" name="tags" placeholder="Tags seperated by commas (optional)"></input>
		</div>
		<button type="submit" class="btn btn-block btn-primary"> Post </button>
	</form>
{% endblock %}
