{% extends 'base.html' %}

{% block title %} Dashboard &middot; Highlandr{% endblock %}

{% block extra_css %}

<style type="text/css">
	#blogpost {
		background-color:#F1AB00;
	}

	.fill {
		min-height: 100%;
	}


</style>

{% endblock %}

{% block page-container %}dashboard-page-container{% endblock %}

{% block content %}

<div class="container fill" id="mainbody">
	<div class="row-fluid span8 offset2">
		<div class="well span12" style="background-color:#eee;">

		<h2>{% block dash_head %} <i class="icon-dashboard"></i> Dashboard {% endblock %}</h2>

		<div class="container">
			<ul class="nav nav-pills">
			
				<li> <a href="/{{ user.username }}/"> Blog </a> </li>
				<li> <a href="/{{user.username}}/profile/">Profile</a></li>	
				<li> <a href="/dashboard/"> Dashboard </a> </li>
				
				<li class="dropdown">
					<a class="dropwdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#"><i class="icon-edit"></i> Post<b class="caret"></b></a>
					<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
						<li role="presentation"><a role="menuitem" href="/new/text/"><i class="icon-font"></i> Text</a></li>
						<li role="presentation"><a role="menuitem" href="/new/photo/"><i class="icon-camera"></i> Photo</a></li>
						<li role="presentation"><a role="menuitem" href="/new/quote/"><i class="icon-quote-left"></i> Quote</a></li>
						<li role="presentation"><a role="menuitem" href="/new/link/"><i class="icon-link"></i> Link</a></li>
						<li role="presentation"><a role="menuitem" href="/new/chat/"><i class="icon-comments"></i> Chat</a></li>
						<li role="presentation"><a role="menuitem" href="/new/audio/"><i class="icon-headphones"></i> Audio</a></li>
						<li role="presentation"><a role="menuitem" href="/new/video/"><i class="icon-facetime-video"></i> Video</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropwdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#"><i class="icon-list-alt"></i> Menu<b class="caret"></b></a>
					<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
						<li role="presentation"><a role="menuitem" href="/logout/"><i class="icon-signout"></i> Logout</a></li>
						<li role="presentation" class="divider"></li>	
						<li role="presentation"><a role="menuitem" href="/{{user.username}}/posts/"><i class="icon-th-large"></i> Posts</a></li>
						<li role="presentation"><a role="menuitem" href="/favorites/"><i class="icon-star"></i> Favorites</a></li>
						<li role="presentation"><a role="menuitem" href="/friends/"><i class="icon-group"></i> Friends</a></li>
						<li role="presentation"><a role="menuitem" href="/following/"><i class="icon-bookmark"></i> Following</a></li>
						<li role="presentation"><a role="menuitem" href="/messages/"><i class="icon-envelope-alt"></i> Messages</a></li>
					</ul>
				</li>
			</ul>				
		</div>

		<hr style="border-color:#997D83;"> 

			{% block dashboard_content %}
			<style type="text/css">
			.delete-notification {
				text-decoration: none;
				border: 0 none;
				background-color: #FF7373;
				color: #0088CC;
			}

			.delete-notification:hover {
				text-decoration: none;
				border: 0 none;
				background-color: #FF7373;
				color: #412C84;
			}
			</style>

			<form method='POST' action=".">
			{% csrf_token %}
			{% for notification in user.notification_set.all %}
			<div align="center" style="background-color:#FF7373; margin:0px 0px 2px;">
				<button class="delete-notification" type="submit" name="delete_notification" value="{{notification.id}}"> 
				<strong>{{ notification.message }}</strong>
				</button>
			</div>
			{% endfor %}
			</form>
			
			{% if user.notification_set.count != 0 %}	
			<hr style="border-color:#997D83;">
			{% endif %}
		
				<form method='POST' action=".">
				{% csrf_token %}
					<div class="input-prepend input-append" style="margin: 0px; padding:0px 0px;">
						<button class="btn btn-info" type="submit" name="searchbar" value="newest"> Newest </button>
						<button class="btn btn-info" type="submit" name="searchbar" value="oldest"> Oldest </button>
						<input class="span8" name="searchbox" id="appendedInputButtons" type="text" placeholder="tags, seperated by, commas">
						<button class="btn btn-primary" type="submit" name="searchbar" value="search"><i class="icon-search icon-white"></i> Search </button>
					</div>
				</form>

				<div ddclass="container span12" style="margin: 0px;">
				{% for post in posts %}
					<div class="well container-fluid span" id="blogpost" style="margin: 5px 0px;">
						
						<a href="/{{ post.author.username }}/">{{ post.author.username }}</a>

						<h6> {{ post.post_date }} </h6>
						{% autoescape off %}
						{% filter linebreaksbr %}{{	post.custom_html }}{% endfilter %}
						{% endautoescape %}

						<h5>
						{% for tag in post.tags.all %}
						<small style="color:#EC3B86;">#{{tag.name}} </small>
						{% endfor %}
						</h5>
			
					</div>
				{% endfor %}
				</div>

<!--
				<div class="container span4" style="margin-right: 0px;">
					{% for post in recommendations %}
					<div class="well container-fluid span" style="margin: 5px 0px; word-break: break-all;">
						<a href="/{{ post.author.username }}/">{{ post.author.username }}</a>
						<a href="/post/{{post.classname}}/{{post.id}}/">Post</a>
						{% autoescape off %}
						{% filter linebreaksbr %}{{ post.custom_html }}{% endfilter %}
						{% endautoescape %}
					</div>
					{% endfor %}
				</div>
-->

			{% endblock %}
		</div>
	</div>
</div>

{% endblock %}
