{% extends 'dashboard/dashboard.html' %}

{% block title %} Friends &middot; Highlandr {% endblock %}

{% block extra_css %}
<style type="text/css">
.request-hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

</style>
{% endblock %}

{% block dash_head %} <i class="icon-group"></i> Friends {% endblock %}

{% block dashboard_content %}

{% for request in incoming_requests %}
<div style="background-color:#AEFEAF;">
<hr class="request-hr">
<form method="POST" action=".">
{% csrf_token %}
<p class="lead">
		Friend request from : <a href="/{{ request.sender.username }}/"> {{ request.sender.username }} </a>
		<button class="pull-right btn btn-info" type="submit" name="friend_request_action" value="delete_{{request.id}}"><i class="icon-remove"></i> Reject </button>
		<button class="pull-right btn btn-info" type="submit" name="friend_request_action" value="accept_{{request.id}}"><i class="icon-ok"></i> Accept </button>
</p>
</form>
<hr class="request-hr">
</div>
{% endfor %}

<h3> </h3>
{% for friend in friends %}
	<div class="lead">
	{% if friend.userprofile.avatar == "" %}
	<img src="{{ STATIC_URL }}img/default_avatar.png" style="height:40px; width:40px;"></img>
	{% else %}
	<img src="{{ friend.userprofile.avatar }}" style="height:40px; width:40px;"></img>
	{% endif %}

	<a href="/{{ friend.username }}/"> {{friend.username}} </a>
	</div>
{% endfor %}

{% endblock %}
